@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600&display=swap');
:root{
    /* theme 1 */

    /* backgrounds */
    --main-background-1:hsl(222, 26%, 31%);
    --toggle-keypad-1:hsl(223, 31%, 20%);
    --screen-background-1:hsl(224, 36%, 15%);

    /* keys */
    --blue-key-background-1:hsl(225, 21%, 49%);
    --blue-key-shadow-1:hsl(224, 28%, 35%);
    --red-key-background-1:hsl(6, 63%, 50%);
    --red-key-shadow-1:hsl(6, 70%, 34%);
    --gray-key-background-1:hsl(30, 25%, 89%);
    --gray-key-shadow:hsl(28, 16%, 65%);

    /* text */
    --dark-blue-text-1:hsl(221, 14%, 31%);
    --white-text-1:white;
    /* theme 2 */

    /* backgrounds */
    --main-background-2:hsl(0, 0%, 90%);
    --toggle-keypad-2: hsl(0, 5%, 81%);
    --screen-background-2: hsl(0, 0%, 93%);

    /* keys */
    --cyan-key-background:hsl(185, 42%, 37%);
    --cyan-key-shadow:hsl(185, 58%, 25%);
    --orange-key-background:hsl(25, 98%, 40%);
    --orange-key-shadow:hsl(25, 99%, 27%);
    --grayish-yellow-key-background:hsl(45, 7%, 89%);
    --grayish-yellow-key-shadow:hsl(35, 11%, 61%);

    /* text */
    --dark-grayish-yellow:hsl(60, 10%, 19%);
    --white-text-2:hsl(0, 0, 100%);

    /* theme 3 */

    /* backgrounds */
    --main-background-3: hsl(268, 75%, 9%);
    --toggle-keypad-3: hsl(268, 71%, 12%);
    --screen-background-3: hsl(268, 71%, 12%);

    /* keys */
    --dark-violet-key-background: hsl(281, 89%, 26%);
    --vivid-magenta-key-shadow: hsl(285, 91%, 52%);
    --pure-cyan-key-background: hsl(176, 100%, 44%);
    --soft-cyan-key-shadow: hsl(177, 92%, 70%);
    --very-dark-violet-key-background: hsl(268, 47%, 21%);
    --dark-magenta-key-shadow: hsl(290, 70%, 36%);

    /* text */
    --light-yellow-text: hsl(52, 100%, 62%);
    --very-dark-blue-text: hsl(198, 20%, 13%);
    --white-text-3: hsl(0, 0, 100%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'League Spartan', sans-serif;
    background-color: var(--main-background-1);
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8vw 4vw;
}
/* Mobile first */
main{
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1.5fr 8fr;
    gap: 7vw;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.heading h1{
    font-size: 13vw;
    align-self: center;
    color: var(--white-text-1);
    letter-spacing: 2px;
}
.heading #toggle-section{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}
#toggle-section h2{
    font-size: 4vw;
    letter-spacing: 2px;
    align-self: flex-end;
    padding-right: 3vw;
    padding-bottom: 1vw;
    color: var(--white-text-1);
}
#toggle-option{
    width: 65%;
    padding: 0 2vw;
}
#toggle-section ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 5vw;
    justify-content: space-around;
    padding: 1.2vw 0 0.3vw 0;
    font-weight: bold;
    color: var(--white-text-1);
}
#toggle-div{
    height: 8vw;
    background-color: var(--toggle-keypad-1);
    border-radius: 7vw;
    display: flex;
    padding: 2.5vw;
}
#toggle-button{
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: var(--red-key-background-1);
    align-self: center;
}
#screen{
    border-radius: 4vw;
    background-color: var(--screen-background-1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#screen h3{
    position: absolute;
    width: 90%;
    font-size: 11vw;
    text-align: end ;
    color: var(--white-text-1);
    overflow: scroll;
}
#keypad{
    padding: 6vw;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 6vw;
    background-color: var(--toggle-keypad-1);
    border-radius: 3vw;
}
.box{
    background-color: var(--gray-key-background-1);
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 1vw;
    box-shadow: 0.1vw 1.3vw 0 var(--gray-key-shadow);
    color: var(--dark-blue-text-1);
    font-size: 9vw;
    font-weight: bolder;
}
#row-1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4vw;
}
#row-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4vw;
}
#row-3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4vw;
}
#row-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4vw;
}
#row-5{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4vw;
}
#box-4{
    background-color: var(--blue-key-background-1);
    box-shadow: 0.1vw 1.3vw 0 var(--blue-key-shadow-1);
    color: var(--white-text-1);
    font-size: 6vw;
    font-weight: 600;
    letter-spacing: 2px;
}
#box-17{
    background-color: var(--blue-key-background-1);
    box-shadow: 0.1vw 1.3vw 0 var(--blue-key-shadow-1);
    color: var(--white-text-1);
    font-size: 6vw;
    font-weight: bold;
    letter-spacing: 2px;
}
#box-18{
    background-color: var(--red-key-background-1);
    box-shadow: 0.1vw 1.3vw 0 var(--red-key-shadow-1);
    color: var(--white-text-1);
    font-weight: 500;
}

